[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_TELEMETRY_DISABLED = "1"
  NEXT_PUBLIC_SITE_URL = "https://abigael-awino-portfolio.netlify.app"
  NPM_CONFIG_CACHE = "/opt/build/cache/npm"
  NPM_FLAGS = "--include=dev"

[dev]
  command = "npm run dev"
  targetPort = 3000
  framework = "next"

[[headers]]
  for = "/_next/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

[[redirects]]
  from = "/home"
  to = "/"
  status = 301

[[plugins]]
  package = "@netlify/plugin-nextjs"
